<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: header(~{::link})}">
    <link rel="stylesheet" th:href="@{/css/inicio.css}" />
  </head>
  <body>
    <nav th:replace="~{layout :: navbar}"></nav>

    <main class="main-content">
      <h1>Bienvenido al Sistema PGIO</h1>
      <p>
        Este es el panel principal del Sistema Operativo Empresarial e
        Inteligente.
      </p>
    </main>

    <footer th:replace="~{layout :: footer}"></footer>
    <th:block th:replace="~{layout :: scripts(~{})}"></th:block>
  </body>
</html>
